*{
    font-family: Arial, Helvetica, sans-serif;
    color: blue;
}

body{
    background-image: url('images/7213ea88-1861-40ef-bf79-6a206b56ca60.jpg');
} 

header{
    background-color:rgba(96, 96, 96,0.6);
    margin-top: -30px;
    font-size: large;
}
h1{
    text-align: center;
    position: relative;
    top: 24px;
}

header nav li{
    display: inline;
    position: relative;
    left: 58vw;
    margin-left: 20px;
    top: -15px;
    

}

#formContainer{
background-color: rgba(96, 96, 96,0.6);
    width: 20%;
    display: inline-block;
    position: relative;
    top: 26vh;
    left: 10vw;
}
#field{
    padding-top: 37px;
    padding-bottom: 37px;
}
 
#tableContainer{
    background-color: rgba(96, 96, 96,0.6); ;
    display: inline-block;
    position: relative;
    left: 33vw;
    top: 10vw;
}

td{
    border: solid 2px;
}

h2{
    position: relative;
    left: 62vw;
    top: 20vh;
}